{
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always",
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"jsxBracketSameLine": false
}
